<!-- lpetrich 31/10/18 -->

<launch>

    <group ns="cam1">
        <node pkg="usb_cam" type="usb_cam_node" name="usb" output="screen" respawn="true" >
            <param name="video_device" value="/dev/video0" />
            <param name="framerate" value="15" />
            <param name="autofocus" value="true" />
        </node>
    </group> 
<!--
    <group ns="cam2">
        <node pkg="usb_cam" type="usb_cam_node" name="usb" output="screen" respawn="true" >
            <param name="video_device" value="/dev/video1" />
            <param name="framerate" value="15" />
            <param name="autofocus" value="true" />
        </node>
    </group> 
-->
</launch>